# 依存パッケージ
node_modules/

# ビルド成果物
dist/

# 環境変数
.env
.env.*

# OS生成ファイル
.DS_Store
Thumbs.db

# ログ
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# エディタ設定（任意）
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
